body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:627px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2857 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:627px;
}
#u2858 {
  position:absolute;
  left:2px;
  top:306px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:21px;
}
#u2859 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:21px;
}
#u2860 {
  position:absolute;
  left:2px;
  top:2px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:21px;
}
#u2861 {
  position:absolute;
  left:0px;
  top:21px;
  width:340px;
  height:21px;
}
#u2862 {
  position:absolute;
  left:2px;
  top:2px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2863 {
  position:absolute;
  left:131px;
  top:11px;
  width:115px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2864 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u2865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2865 {
  position:absolute;
  left:8px;
  top:5px;
  width:74px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2866 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2867 {
  position:absolute;
  left:8px;
  top:104px;
  width:170px;
  height:16px;
}
#u2868 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u2869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2869 {
  position:absolute;
  left:8px;
  top:132px;
  width:117px;
  height:16px;
  color:#999999;
}
#u2870 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u2871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:44px;
}
#u2871 {
  position:absolute;
  left:8px;
  top:48px;
  width:42px;
  height:44px;
}
#u2872 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2873 {
  position:absolute;
  left:62px;
  top:62px;
  width:74px;
  height:16px;
  color:#999999;
}
#u2874 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:19px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2875 {
  position:absolute;
  left:0px;
  top:161px;
  width:340px;
  height:19px;
}
#u2876 {
  position:absolute;
  left:2px;
  top:2px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2877 {
  position:absolute;
  left:8px;
  top:196px;
  width:170px;
  height:16px;
}
#u2878 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u2879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2879 {
  position:absolute;
  left:8px;
  top:280px;
  width:319px;
  height:99px;
}
#u2880 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u2881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:44px;
}
#u2881 {
  position:absolute;
  left:8px;
  top:225px;
  width:42px;
  height:44px;
}
#u2882 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2883 {
  position:absolute;
  left:62px;
  top:238px;
  width:74px;
  height:16px;
  color:#999999;
}
#u2884 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:19px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2885 {
  position:absolute;
  left:0px;
  top:401px;
  width:340px;
  height:19px;
}
#u2886 {
  position:absolute;
  left:2px;
  top:2px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u2887 {
  position:absolute;
  left:285px;
  top:370px;
  width:19px;
  height:17px;
}
#u2887_img.selected {
}
#u2887.selected {
}
#u2888 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CBF24;
}
#u2889 {
  position:absolute;
  left:311px;
  top:370px;
  width:64px;
  height:16px;
  color:#5CBF24;
}
#u2890 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u2891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2891 {
  position:absolute;
  left:8px;
  top:487px;
  width:319px;
  height:24px;
}
#u2892 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u2893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:44px;
}
#u2893 {
  position:absolute;
  left:8px;
  top:432px;
  width:42px;
  height:44px;
}
#u2894 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2895 {
  position:absolute;
  left:62px;
  top:445px;
  width:74px;
  height:16px;
  color:#999999;
}
#u2896 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u2897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u2897 {
  position:absolute;
  left:285px;
  top:522px;
  width:19px;
  height:17px;
}
#u2897_img.selected {
}
#u2897.selected {
}
#u2898 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5CBF24;
}
#u2899 {
  position:absolute;
  left:311px;
  top:522px;
  width:64px;
  height:16px;
  color:#5CBF24;
}
#u2900 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u2901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
  background:inherit;
  background-color:rgba(92, 191, 36, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2901 {
  position:absolute;
  left:0px;
  top:583px;
  width:340px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2902 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  word-wrap:break-word;
}
