body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:867px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u614 {
  position:absolute;
  left:492px;
  top:196px;
  width:375px;
  height:647px;
}
#u615 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u616 {
  position:absolute;
  left:492px;
  top:196px;
  width:375px;
  height:22px;
}
#u617 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u618 {
  position:absolute;
  left:492px;
  top:218px;
  width:375px;
  height:22px;
}
#u619 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u620 {
  position:absolute;
  left:654px;
  top:203px;
  width:138px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u621 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u622 {
  position:absolute;
  left:531px;
  top:538px;
  width:299px;
  height:1px;
}
#u623 {
  position:absolute;
  left:2px;
  top:-8px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u624 {
  position:absolute;
  left:501px;
  top:201px;
  width:82px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u625 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u626 {
  position:absolute;
  left:492px;
  top:239px;
  width:375px;
  height:604px;
  overflow:hidden;
}
#u626_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u626_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:605px;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:605px;
}
#u628 {
  position:absolute;
  left:2px;
  top:294px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u629 {
  position:absolute;
  left:39px;
  top:552px;
  width:320px;
  height:41px;
}
#u630 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u632 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u633 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u634 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u635 {
  position:absolute;
  left:19px;
  top:23px;
  width:125px;
  height:28px;
  color:#00FFFF;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u637 {
  position:absolute;
  left:73px;
  top:84px;
  width:217px;
  height:56px;
  color:#00FFFF;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u639 {
  position:absolute;
  left:183px;
  top:571px;
  width:31px;
  height:22px;
}
#u640 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u626_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:604px;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:604px;
}
#u642 {
  position:absolute;
  left:2px;
  top:294px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u643 {
  position:absolute;
  left:27px;
  top:551px;
  width:320px;
  height:41px;
}
#u644 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u646 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u647 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u648 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u649 {
  position:absolute;
  left:7px;
  top:23px;
  width:313px;
  height:28px;
  color:#00FFFF;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u651 {
  position:absolute;
  left:73px;
  top:84px;
  width:217px;
  height:56px;
  color:#00FFFF;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u653 {
  position:absolute;
  left:182px;
  top:570px;
  width:30px;
  height:22px;
}
#u654 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u626_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u656 {
  position:absolute;
  left:2px;
  top:294px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u657 {
  position:absolute;
  left:28px;
  top:551px;
  width:320px;
  height:41px;
}
#u658 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u659 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u660 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u661 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u662 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u663 {
  position:absolute;
  left:19px;
  top:23px;
  width:217px;
  height:28px;
  color:#00FFFF;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u665 {
  position:absolute;
  left:73px;
  top:84px;
  width:217px;
  height:56px;
  color:#00FFFF;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u667 {
  position:absolute;
  left:183px;
  top:570px;
  width:31px;
  height:22px;
}
#u668 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u626_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:602px;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:602px;
}
#u670 {
  position:absolute;
  left:2px;
  top:293px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u671 {
  position:absolute;
  left:27px;
  top:549px;
  width:320px;
  height:41px;
}
#u672 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u674 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u675 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u676 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u677 {
  position:absolute;
  left:19px;
  top:23px;
  width:217px;
  height:28px;
  color:#00FFFF;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u679 {
  position:absolute;
  left:73px;
  top:84px;
  width:219px;
  height:84px;
  color:#00FFFF;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u681 {
  position:absolute;
  left:182px;
  top:568px;
  width:30px;
  height:22px;
}
#u682 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u626_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:603px;
}
#u683 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:603px;
}
#u684 {
  position:absolute;
  left:2px;
  top:294px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:41px;
}
#u685 {
  position:absolute;
  left:28px;
  top:550px;
  width:320px;
  height:41px;
}
#u686 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u688 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u689 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u690 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u691 {
  position:absolute;
  left:19px;
  top:23px;
  width:289px;
  height:28px;
  color:#00FFFF;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u693 {
  position:absolute;
  left:73px;
  top:84px;
  width:241px;
  height:84px;
  color:#00FFFF;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u695 {
  position:absolute;
  left:183px;
  top:569px;
  width:31px;
  height:22px;
}
#u696 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:604px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u626_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:603px;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:603px;
}
#u698 {
  position:absolute;
  left:2px;
  top:294px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
  background:inherit;
  background-color:rgba(78, 168, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u699 {
  position:absolute;
  left:16px;
  top:35px;
  width:295px;
  height:374px;
}
#u700 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:254px;
}
#u701 {
  position:absolute;
  left:19px;
  top:177px;
  width:283px;
  height:254px;
}
#u702 {
  position:absolute;
  left:2px;
  top:119px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u703 {
  position:absolute;
  left:19px;
  top:23px;
  width:241px;
  height:28px;
  color:#00FFFF;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00FFFF;
}
#u705 {
  position:absolute;
  left:16px;
  top:67px;
  width:289px;
  height:140px;
  color:#00FFFF;
}
#u706 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(78, 168, 237, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4EA8ED;
}
#u707 {
  position:absolute;
  left:123px;
  top:562px;
  width:137px;
  height:35px;
  color:#4EA8ED;
}
#u708 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  word-wrap:break-word;
}
