body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:867px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:492px;
  top:196px;
  width:375px;
  height:647px;
}
#u1 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:284px;
}
#u2 {
  position:absolute;
  left:493px;
  top:196px;
  width:374px;
  height:284px;
}
#u3 {
  position:absolute;
  left:2px;
  top:134px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u4 {
  position:absolute;
  left:492px;
  top:480px;
  width:375px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u6 {
  position:absolute;
  left:492px;
  top:502px;
  width:375px;
  height:21px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u8 {
  position:absolute;
  left:492px;
  top:524px;
  width:375px;
  height:21px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u10 {
  position:absolute;
  left:492px;
  top:545px;
  width:375px;
  height:21px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u12 {
  position:absolute;
  left:492px;
  top:567px;
  width:375px;
  height:21px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u14 {
  position:absolute;
  left:492px;
  top:588px;
  width:375px;
  height:21px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u16 {
  position:absolute;
  left:492px;
  top:600px;
  width:375px;
  height:21px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u18 {
  position:absolute;
  left:492px;
  top:621px;
  width:375px;
  height:21px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u20 {
  position:absolute;
  left:492px;
  top:643px;
  width:375px;
  height:21px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u22 {
  position:absolute;
  left:492px;
  top:665px;
  width:375px;
  height:21px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u24 {
  position:absolute;
  left:492px;
  top:686px;
  width:375px;
  height:21px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:34px;
}
#u26 {
  position:absolute;
  left:492px;
  top:707px;
  width:375px;
  height:34px;
}
#u27 {
  position:absolute;
  left:2px;
  top:9px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u28 {
  position:absolute;
  left:492px;
  top:730px;
  width:375px;
  height:21px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u30 {
  position:absolute;
  left:492px;
  top:751px;
  width:375px;
  height:21px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u32 {
  position:absolute;
  left:492px;
  top:772px;
  width:375px;
  height:21px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u34 {
  position:absolute;
  left:492px;
  top:784px;
  width:375px;
  height:21px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u36 {
  position:absolute;
  left:492px;
  top:805px;
  width:375px;
  height:21px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u38 {
  position:absolute;
  left:492px;
  top:817px;
  width:375px;
  height:21px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u40 {
  position:absolute;
  left:492px;
  top:817px;
  width:375px;
  height:21px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:21px;
}
#u42 {
  position:absolute;
  left:492px;
  top:822px;
  width:375px;
  height:21px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  color:#E4E4E4;
}
#u44 {
  position:absolute;
  left:616px;
  top:438px;
  width:108px;
  height:38px;
  font-family:'Adobe 楷体 Std R Bold', 'Adobe 楷体 Std';
  font-weight:700;
  font-style:normal;
  color:#E4E4E4;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:487px;
}
#u46 {
  position:absolute;
  left:492px;
  top:196px;
  width:375px;
  height:487px;
}
#u47 {
  position:absolute;
  left:2px;
  top:236px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:53px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 255, 255, 1);
  border-radius:64px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u48 {
  position:absolute;
  left:562px;
  top:752px;
  width:234px;
  height:53px;
  color:#FFFFFF;
}
#u49 {
  position:absolute;
  left:2px;
  top:18px;
  width:230px;
  word-wrap:break-word;
}
