body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:867px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1341 {
  position:absolute;
  left:492px;
  top:196px;
  width:358px;
  height:647px;
}
#u1342 {
  position:absolute;
  left:2px;
  top:316px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
}
#u1343 {
  position:absolute;
  left:492px;
  top:196px;
  width:358px;
  height:22px;
}
#u1344 {
  position:absolute;
  left:2px;
  top:3px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
}
#u1345 {
  position:absolute;
  left:492px;
  top:218px;
  width:358px;
  height:22px;
}
#u1346 {
  position:absolute;
  left:2px;
  top:3px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1347 {
  position:absolute;
  left:624px;
  top:203px;
  width:154px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1348 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:2px;
}
#u1349 {
  position:absolute;
  left:529px;
  top:538px;
  width:285px;
  height:1px;
}
#u1350 {
  position:absolute;
  left:2px;
  top:-8px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1351 {
  position:absolute;
  left:501px;
  top:201px;
  width:78px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1352 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1353 {
  position:absolute;
  left:492px;
  top:196px;
  width:358px;
  height:647px;
}
#u1354 {
  position:absolute;
  left:2px;
  top:316px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
}
#u1355 {
  position:absolute;
  left:492px;
  top:196px;
  width:358px;
  height:22px;
}
#u1356 {
  position:absolute;
  left:2px;
  top:3px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
}
#u1357 {
  position:absolute;
  left:492px;
  top:218px;
  width:358px;
  height:22px;
}
#u1358 {
  position:absolute;
  left:2px;
  top:3px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1359 {
  position:absolute;
  left:624px;
  top:203px;
  width:154px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1360 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u1361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:2px;
}
#u1361 {
  position:absolute;
  left:529px;
  top:538px;
  width:285px;
  height:1px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:-8px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:98px;
}
#u1363 {
  position:absolute;
  left:611px;
  top:407px;
  width:121px;
  height:98px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:41px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1365 {
  position:absolute;
  left:611px;
  top:517px;
  width:157px;
  height:48px;
  color:#CCCCCC;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u1367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1367 {
  position:absolute;
  left:501px;
  top:201px;
  width:78px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1368 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1369 {
  position:absolute;
  left:560px;
  top:571px;
  width:307px;
  height:16px;
  color:#CCCCCC;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  word-wrap:break-word;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(78, 168, 237, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1371 {
  position:absolute;
  left:690px;
  top:570px;
  width:103px;
  height:23px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
