body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:867px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2009 {
  position:absolute;
  left:492px;
  top:196px;
  width:375px;
  height:647px;
}
#u2010 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u2011 {
  position:absolute;
  left:492px;
  top:196px;
  width:375px;
  height:22px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u2013 {
  position:absolute;
  left:492px;
  top:218px;
  width:375px;
  height:22px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2015 {
  position:absolute;
  left:630px;
  top:207px;
  width:127px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:52px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2017 {
  position:absolute;
  left:492px;
  top:239px;
  width:375px;
  height:52px;
}
#u2018 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2019 {
  position:absolute;
  left:501px;
  top:201px;
  width:82px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2021 {
  position:absolute;
  left:537px;
  top:257px;
  width:255px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u2023 {
  position:absolute;
  left:794px;
  top:264px;
  width:14px;
  height:11px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025 {
  position:absolute;
  left:513px;
  top:299px;
  width:234px;
  height:28px;
}
#u2025_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2025_input {
  font-family:'应用字体';
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:2px;
}
#u2026 {
  position:absolute;
  left:513px;
  top:334px;
  width:223px;
  height:1px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:-8px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
}
#u2028 {
  position:absolute;
  left:792px;
  top:299px;
  width:61px;
  height:40px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
