body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:867px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  position:absolute;
  left:492px;
  top:196px;
  width:375px;
  height:647px;
}
#u710 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u711 {
  position:absolute;
  left:492px;
  top:196px;
  width:375px;
  height:22px;
}
#u712 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:22px;
}
#u713 {
  position:absolute;
  left:492px;
  top:218px;
  width:375px;
  height:22px;
}
#u714 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u715 {
  position:absolute;
  left:654px;
  top:203px;
  width:138px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u716 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u717 {
  position:absolute;
  left:531px;
  top:538px;
  width:299px;
  height:1px;
}
#u718 {
  position:absolute;
  left:2px;
  top:-8px;
  width:295px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:98px;
}
#u719 {
  position:absolute;
  left:616px;
  top:407px;
  width:127px;
  height:98px;
}
#u720 {
  position:absolute;
  left:2px;
  top:41px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u721 {
  position:absolute;
  left:616px;
  top:517px;
  width:164px;
  height:16px;
  color:#CCCCCC;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u723 {
  position:absolute;
  left:501px;
  top:201px;
  width:82px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
