body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:867px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1133 {
  position:absolute;
  left:492px;
  top:196px;
  width:355px;
  height:647px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:316px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:22px;
}
#u1135 {
  position:absolute;
  left:492px;
  top:196px;
  width:355px;
  height:22px;
}
#u1136 {
  position:absolute;
  left:2px;
  top:3px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:22px;
}
#u1137 {
  position:absolute;
  left:492px;
  top:218px;
  width:355px;
  height:22px;
}
#u1138 {
  position:absolute;
  left:2px;
  top:3px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1139 {
  position:absolute;
  left:623px;
  top:207px;
  width:120px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1140 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1141 {
  position:absolute;
  left:501px;
  top:201px;
  width:78px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1142 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:57px;
}
#u1143 {
  position:absolute;
  left:501px;
  top:248px;
  width:55px;
  height:57px;
}
#u1144 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:75px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1145 {
  position:absolute;
  left:492px;
  top:239px;
  width:355px;
  height:75px;
}
#u1146 {
  position:absolute;
  left:2px;
  top:30px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:57px;
}
#u1147 {
  position:absolute;
  left:501px;
  top:326px;
  width:55px;
  height:57px;
}
#u1148 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:57px;
}
#u1149 {
  position:absolute;
  left:501px;
  top:403px;
  width:55px;
  height:57px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1151 {
  position:absolute;
  left:492px;
  top:314px;
  width:355px;
  height:75px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:30px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1153 {
  position:absolute;
  left:567px;
  top:266px;
  width:211px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1154 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1155 {
  position:absolute;
  left:812px;
  top:269px;
  width:55px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1156 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1157 {
  position:absolute;
  left:567px;
  top:343px;
  width:233px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1158 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  word-wrap:break-word;
}
#u1159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1159 {
  position:absolute;
  left:812px;
  top:343px;
  width:55px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1160 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1161 {
  position:absolute;
  left:567px;
  top:419px;
  width:211px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u1163 {
  position:absolute;
  left:567px;
  top:487px;
  width:211px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u1164 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  word-wrap:break-word;
}
#u1165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:75px;
  background:inherit;
  background-color:rgba(92, 191, 36, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1165 {
  position:absolute;
  left:492px;
  top:389px;
  width:355px;
  height:75px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:30px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:57px;
}
#u1167 {
  position:absolute;
  left:501px;
  top:471px;
  width:55px;
  height:57px;
}
#u1168 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:75px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.227450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1169 {
  position:absolute;
  left:492px;
  top:464px;
  width:355px;
  height:75px;
}
#u1170 {
  position:absolute;
  left:2px;
  top:30px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171 {
  position:absolute;
  left:545px;
  top:314px;
  visibility:hidden;
}
#u1171_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1171_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1172 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1173 {
  position:absolute;
  left:2px;
  top:110px;
  width:246px;
  word-wrap:break-word;
}
#u1171_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1171_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1174 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  color:#FFFFFF;
  text-align:left;
}
#u1175 {
  position:absolute;
  left:2px;
  top:102px;
  width:246px;
  word-wrap:break-word;
}
#u1171_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1171_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1176 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  color:#FFFFFF;
  text-align:left;
}
#u1177 {
  position:absolute;
  left:2px;
  top:134px;
  width:246px;
  word-wrap:break-word;
}
#u1171_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1171_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1178 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:363px;
  color:#FFFFFF;
  text-align:left;
}
#u1179 {
  position:absolute;
  left:2px;
  top:150px;
  width:246px;
  word-wrap:break-word;
}
#u1180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1180 {
  position:absolute;
  left:812px;
  top:419px;
  width:55px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1181 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u1182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:647px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.419607843137255);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u1182 {
  position:absolute;
  left:492px;
  top:196px;
  width:355px;
  height:647px;
  color:#949494;
}
#u1183 {
  position:absolute;
  left:2px;
  top:316px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1184 {
  position:absolute;
  left:812px;
  top:487px;
  width:55px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u1185 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
